* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
   
    
}

main {
    background-color: rgb(44, 44, 44);

}

.acheuno {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 3vh;
    color: white;

}

.achedos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 3vh;
    color: white;

}

.contenedorproductos {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    margin-top: 10px;


}

.imagenalien {
    width: 15vh;
    height: auto;
}

.producto1 {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
}

.header {
    width: 100%;
    background-image: linear-gradient(to right, #ffffff, rgb(7, 7, 7));
}

.navbar .navbar-brand {
    color: rgb(0, 0, 0);
}

.nav-link {
    color: white !important;
}

.achetres {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 3vh;
    color: white;
}



.color {
    background-color: #5a5ada;
    /* ESTO VA DESPUES DEL PADRE, SERIA COMO UNA PROPIEDAD HIJO */
}

/* EN EL EVENT LISTENER SE VA A CAMBIAR A ESTE COLOR */

.parrafo1 {
    color: white;
}

.centrarcanvas {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 3vh;
    color: white;
}

.divinner{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: black;
    border-style: solid;
    margin: 2vh;
    font-size: 1.5vh;
    background-color: rgb(255, 255, 255);
}

.totalPagar{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: black;
  margin: 2vh;
  font-size: 1.5vh;
  background-color: rgb(255, 255, 255);
}

.imagensitaPc{
    width: 10vh;
    height: 20vh;
    padding-bottom: 8vh;
    
}

.parrafos{
    padding: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vh;
    color: black;
    font-size: 1.5vh;
}

.enRojo{
  color: red;
}

#offcanvasRightLabel{
    padding-left: 3vh;
    text-align: center;
    padding-top: 1vh;
    color: black;
}

.h3productos{
  font-size: 2vh;
}

.contenedorDiv{
    border-style: solid;
    border-color: rgb(104, 104, 104);
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    padding-top: 2vh;
    padding-left: 2vh;
    height: 17vh;
    font-size: 1.5vh;
    justify-content: space-evenly;
    margin-bottom: 5vh;
    margin-top: 5vh;

}











/* ----------------------------------------------- */





.btn-7 {
    background: linear-gradient(0deg, rgba(255,151,0,1) 0%, rgba(251,75,2,1) 100%);
      line-height: 42px;
      padding: 0;
      border: none;
    }
    .btn-7 span {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
    }
    .btn-7:before,
    .btn-7:after {
      position: absolute;
      content: "";
      right: 0;
      bottom: 0;
      background: rgba(251,75,2,1);
      box-shadow:
       -7px -7px 20px 0px rgba(255,255,255,.9),
       -4px -4px 5px 0px rgba(255,255,255,.9),
       7px 7px 20px 0px rgba(0,0,0,.2),
       4px 4px 5px 0px rgba(0,0,0,.3);
      transition: all 0.3s ease;
    }
    .btn-7:before{
       height: 0%;
       width: 2px;
    }
    .btn-7:after {
      width: 0%;
      height: 2px;
    }
    .btn-7:hover{
      color: rgba(251,75,2,1);
      background: transparent;
    }
    .btn-7:hover:before {
      height: 100%;
    }
    .btn-7:hover:after {
      width: 100%;
    }
    .btn-7 span:before,
    .btn-7 span:after {
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      background: rgba(251,75,2,1);
      box-shadow:
       -7px -7px 20px 0px rgba(255,255,255,.9),
       -4px -4px 5px 0px rgba(255,255,255,.9),
       7px 7px 20px 0px rgba(0,0,0,.2),
       4px 4px 5px 0px rgba(0,0,0,.3);
      transition: all 0.3s ease;
    }
    .btn-7 span:before {
      width: 2px;
      height: 0%;
    }
    .btn-7 span:after {
      height: 2px;
      width: 0%;
    }
    .btn-7 span:hover:before {
      height: 100%;
    }
    .btn-7 span:hover:after {
      width: 100%;
    }


  .frame {
    width: 90%;
    margin: 40px auto;
    text-align: center;
  }
  button {
    margin: 20px;
  }
  .custom-btn {
    width: 10vh;
    height: 40px;
    color: rgb(53, 47, 47);
    border-radius: 5px;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }


  #iconoCarrito{
    width: 3vh;
    height: 20;
    color: #ffffff;
  }

  #carritoCarrito{
    font-size: 1vh;
    height: 2vh;
    width: 2vh;
  }

  /* ------------------- */

  



  